.contactContainer {
  width: 100%;
  padding: 10px;
}

.contactContainer .cContainer {
  width: 85%;
  margin: auto;
  display: grid;
  place-items: center;
  margin-top: 100px;
  padding: 10px;
}

/* Form Section */
.formContainer {
  width: 85%;
  margin: auto;
  padding: 10px;
}

.formContainer form {
  width: 100%;
  display: grid;
  place-items: center;
}

.formContainer form input {
  width: 80%;
  margin-top: 10px;
  height: 40px;
  border: 1px solid rgb(204, 201, 201);
}

.formContainer form textarea {
  width: 80%;
  margin-top: 10px;
  border: 1px solid rgb(204, 201, 201);
}

.formContainer form .btn {
  background-color: #ffd050;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .formContainer form input {
    width: 100%;
  }
  .formContainer form textarea {
    width: 100%;
  }
  .formContainer form .btn {
    width: 100%;
  }
}
/* End Of Form Section */
